.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__heading {
  margin: 0;
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif";
  line-height: 1;
  font-size: 28px;
  font-weight: 400;
}

.card__text {
  margin: 0;
  line-height: 1.5;
}
