.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__cover {
  border-radius: 12px;
  width: 100%;
}

@media screen and (max-width: 571px) {
  .header__cover {
    width: 100%;
    border-radius: 0;
  }
}
